an ignore specific files
.DS_Store
script
stamp-h1
#build/octopus.spec
aclocal.m4

# Use wildcards as well
#*.o
*.svn
#*.mod
#*.am
#Makefile
Makefile.in
!doc/htmp/icons
!doc/html/icons/Makefile.in
.gitignore.swp
*.a
#*.f90
config.*
configure
#src/utils/oct*
#src/main/oct*
#share/vari*
#._*

# Can also ignore all directories and files in a directory.
.svn/*
autom4te.cache/*
build-aux/*
#.deps
